@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;
@use "../responsive" as *;

.menu {
  width: 100%;

  &--list {
    width: 100%;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: gap(1);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--tab {
    width: 100%;
    display: block;
    margin: gap(2) auto;

    .tab--list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: gap(1);
      flex-wrap: wrap;
      list-style: none;
    }
  }
}
