@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;
@use "../responsive" as *;

.modal--overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  width: 80%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: gap(2);
  background-color: $white;
  border-radius: $border-radius;
  transform: translate(-50%, -50%);
  z-index: 1000;

  &--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: gap(2);
  }

  &--body {
    margin-bottom: gap(2);
    border-collapse: collapse;

    table {
      width: 100%;
      text-align: left;

      thead,
      tbody {
        width: 100%;
      }

      thead > tr > th {
        color: $gray-700;
        font-weight: bold;
        letter-spacing: 1.2px;
      }

      th,
      td {
        padding: gap(1);
      }
    }
  }

  &--footer {
    padding-top: gap(2);
  }

  .orders--list {
    width: 100%;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: gap(0.5);
    }
  }

  h3 {
    letter-spacing: 0.5px;
  }

  .bold {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray-700;
    font-weight: bold;
    letter-spacing: 1.2px;
  }
}
